<div>
	<div>
		<iframe width="100%" height="300" [src]="video.url | safe" target="_parent"></iframe>
	</div>


	<form>
		<div *ngIf="editTitle" class="form-group">
			<input type="text" class="form-control" name="title" required placeholder="title" [(ngModel)]="video.title">
		</div>
		<h3 *ngIf="!editTitle" (click)="onclicktitle()">{{video.title}}</h3>
		<div class="form-group">
			<input type="text" class="form-control" name="url" required placeholder="url" [(ngModel)]="video.url">
		</div>
		<div class="form-group">
			<textarea class="form-control" rows="5" name="description" [(ngModel)]="video.description"></textarea> 
		</div>
	</form>
	<button type="button" class="btn btn-primary" (click)="updatevideo()">update</button>
		<button type="button" class="btn btn-danger" (click)="deletevideo()">Delete</button>
</div>